@use "../../styles/variables" as *;
@use "../../styles/functions" as *;

.about-container {
    max-width: 1440px;
    padding: 100px 140px 30px;
    font-family: $main-font;
    font-size: rem(14px);
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
   
    .about-header-container{
        width: rem(750px);
        margin: auto;
        font-family: $main-font;
        color: #656689;
        font-size: rem(24px);
        text-align: center;
        margin-bottom: rem(70px);
        .about-header{
            padding-top: rem(75px);
            display: flex;
            align-items: center;
            justify-content: center;
            font-family: $secondary-font;
            font-size: rem(45px);
            color: #000958;
        }
    }

    .about-blocks-container{
        display: flex;
        flex-direction: column;
        gap: rem(44px);
        margin-bottom: rem(50px);
        .block-container{
            width: rem(1154px);
            height: rem(328px);
            background-color: #FDC688;
            border-radius: rem(50px);
            padding: rem(32px);
            display: flex;
            gap: rem(32px);
            align-items: center;
            .block-text{
                color: #656689;
                font-family: $main-font;
                font-size: rem(22px);
                h2{
                    font-family: $secondary-font;
                    font-size: rem(32px);
                    color: #000958;
                    margin-bottom: rem(10px);
                }
            }
           
        }
      
    }
    
    #reverse{
        display: flex;
        flex-direction: row-reverse;
    }

}