@use "../../styles/variables" as *;
@use "../../styles/functions" as *;

.about-container {
    max-width: 1440px;
    padding: 100px 140px 30px;
    font-family: $main-font;
    font-size: rem(14px);
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;

    .about-header-container {
        width: rem(750px);
        margin: auto;
        font-family: $main-font;
        color: #656689;
        font-size: rem(24px);
        text-align: center;
        margin-bottom: rem(35px);

        .about-header {
            padding-top: rem(55px);
            display: flex;
            align-items: center;
            justify-content: center;
            font-family: $secondary-font;
            font-weight: bold;
            font-size: rem(45px);
            color: #000958;
        }
    }

    
    .about-text {
        width: rem(1050px);
        margin: auto;
        font-family: $main-font;
        color: #656689;
        font-size: rem(24px);
        text-align: center;
        margin-bottom: rem(70px);
        font-weight: 650;
    }

    .about-blocks-container {
        display: flex;
        flex-direction: column;
        gap: rem(28px);
        margin-bottom: rem(35px);

        .block-container {
            width: rem(1154px);
            height: rem(328px);
            background-color: #FDC688;
            border-radius: rem(50px);
            padding: rem(32px);
            display: flex;
            gap: rem(12px);
            align-items: center;

            .block-text {
                color: #656689;
                font-family: $main-font;
                font-size: rem(24px);
                font-weight: 700;
                text-align: center;

                h2 {
                    font-family: $secondary-font;
                    font-weight: bold;
                    font-size: rem(32px);
                    color: #000958;
                    margin-bottom: rem(40px);
                    text-align: center;
                }
            }

        }

    }

    #reverse {
        display: flex;
        flex-direction: row-reverse;
    }

}