@use "../../styles/variables" as *;
@use "../../styles/functions" as *;

.authorization-container {
    max-width: 1440px;
    padding: 250px 140px 30px;
    margin-bottom: 100px;
    background-color: #fff8f1;  
    max-height: 850px;
    font-family: $main-font;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
  
  .authorization-container form {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .authorization-container label {
    font-size: rem(20px);
    margin-bottom: 20px;
    font-weight: 600;
  }
  
  .authorization-container input {
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1.2rem;
    width: 100%;
    max-width: 300px;
  }
  
  .authorization-container button {
    padding: rem(15px) rem(25px);
    margin-top: rem(60px);
    background-color: #ff6600;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 1.2rem;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    align-items: center;        
    text-decoration: none;
  }
  
  .authorization-container button:hover {
    background-color: #ff6600; 
    box-shadow: 0px 8px 8px #723d00;
    transform: translateY(-5px);
  }

.status{
  font-family: $secondary-font;
  font-size: rem(50px);
  color: #00063a;
  padding-bottom: rem(100px);
}