@use "../../../styles/variables" as *;
@use "../../../styles/functions" as *;

.our-team-container{
    max-width: 1440px;
    padding: 50px 140px 30px;
    font-family: $main-font;
    font-size: rem(14px);
    margin: auto;
    margin-bottom: rem(62px);
    background-color: #FFF4EA;
    color: #00063a;
    .view-team-button{
        margin: auto;
        width: fit-content;
        font-family: $main-font;
        font-size: rem(16px);
        font-weight: 600;
        line-height: rem(16px);
        color: #FFFFFF;
        background-color: #ff6600;
        border: none;
        padding: rem(22px) rem(31px);
        border-radius: 5px;
        cursor: pointer;      
        display: flex;
        box-shadow: 0px 2px 2px #ff6600;
        transition: all 0.3s ease 0s;
        align-items: center;       
        margin: auto;    
        text-decoration: none;

    }
    .view-team-button:hover{
        box-shadow: 0px 8px 8px #723d00;
        background-color: #ff6600;
        cursor: pointer;
        transform: translateY(-5px);
    }
    .our-team-title{
        font-family: $secondary-font;
        font-weight: 400;
        font-size: rem(45px);
        line-height: 62px;
        color: #000958;
        text-align: center;
        margin-bottom: rem(120px);
    }
    .wrapper {
        
        display: grid;
        justify-content: center;
        align-items: end;
        grid-template-columns: rem(270px) rem(270px) rem(270px);
        grid-template-rows: rem(410px) rem(410px) ;
        grid-column-gap: rem(60px);
        grid-row-gap: rem(60px);
        
        .team-member-card{
            background-color: #FFE4C8;
            display: flex;
            flex-direction: column;
            align-items: center;
            min-height: rem(300px);
            justify-content: flex-end;
            position: relative;
            max-height: rem(300px);
            border-radius: rem(23px);
            margin-bottom: rem(70px);

            .member-image{
                width: rem(200px);
                height: rem(270px);
                top: rem(-110px);
                border-radius: rem(100px);
                border: rem(10px) solid white;
                position: absolute;
                border-collapse: collapse;
            }
            .team-member-name{
                font-weight: 600;
                font-size: rem(20px);
                line-height: rem(22px);
                color: #000958;
                margin-bottom: rem(15px);
            }
            .team-member-position{
                font-weight: 400;
                font-size: 16px;
                line-height: 14px;
                color: #656689;
                margin-bottom: rem(40px);
            }
        } 
    }
    
}