@import url('https://fonts.googleapis.com/css2?family=Slackey&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&family=Slackey&display=swap');

$main-font: Montserrat;
$secondary-font: Slackey;
$darkgreen: #348f6d;