@use "../../../styles/variables" as *;
@use "../../../styles/functions" as *;

.pets-container{
    max-width: 1440px;
    padding: 50px 140px 30px;
    font-family: $main-font;
    font-size: rem(14px);
    margin: auto;
    background-color: #FFFAF5;
    color: #00063a;
    
    .our-pets-header{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        font-family: $main-font;
        font-size: rem(16px);
        font-weight: 400;
        line-height: 30px;
        .pets-header-title{
            display: flex;
            justify-content: center;
            align-items: center;
            font-family: $secondary-font;
            font-size: rem(45px);
            
        }
    }
    .pets-block{
        color: #656689;
        .pets-block-title{
            display: flex;
            justify-content: flex-start;
            align-items: center;
            font-family: $secondary-font;
            font-size: rem(45px);
            color: #00063a;
        }
        .cards-container{
            display: flex;
            justify-content: space-between;
            margin-bottom: rem(50px);
            .card{
                height: rem(342px);
                width: rem(251px);
                background: linear-gradient(180deg, #FFB390 0%, #FCCC84 100%);
                border-radius: 50px;
                padding: rem(26px);
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                text-align: center;
                align-items: center;
                font-weight: 400;
                font-size: 17px;
                line-height: 24px;

                h4{
                    font-family: $secondary-font;
                    font-weight: 400;
                    font-size: 20px;
                    line-height: 30px;
                }
            }
            .card img {
                width: rem(200px);
                height: rem(200px);
                border-radius: 30px;
                margin-bottom: rem(10px);
            }
        }
    }
}

