@use "../../../styles/variables" as *;
@use "../../../styles/functions" as *;

.facilities-container {
    max-width: 1440px;
    padding: 50px 140px 30px;
    font-family: $main-font;
    font-size: rem(14px);
    margin: auto;
    background-color: #FFFAF5;
    margin-bottom: rem(100px);

    .facilities-content {
        display: flex;
        flex-direction: column;
        gap: rem(25px);

        .facilities {
            padding-bottom: rem(50px);
            padding-left: rem(90px);
            padding-right: rem(90px);
            text-align: center;
        }

        .facilities-main {
            font-family: $secondary-font;
            font-size: rem(35px);
            color: #00063a;
            padding-top: rem(15px);
            font-weight: bold;
        }

        .facilities-text {
            font-family: $main-font;
            font-size: rem(20px);
            color: #656689;
            font-weight: 600;
            line-height: 28px;
            margin-top: rem(15px);
            padding-left: rem(25px);
        }

        .wrapper {
            height: rem(656px);
            display: grid;
            grid-template-columns: rem(560px) rem(560px);
            gap: rem(250px);
            background-image: url(../../../../public/images/Home/dog_lines.png);
        }

        .column {
            width: rem(360px);
            text-align: center;
        }

        .column h3 {
            padding-top: rem(15px);
            margin-bottom: rem(95px);
            font-family: $main-font;
            font-size: rem(20px);
            color: #656689;
            font-weight: 500;
        }

        .column li {
            font-family: $secondary-font;
            font-size: rem(24px);
            color: #00063a;
            font-weight: bold;
        }
    }
}

.slackey {
    font-family: $secondary-font;
    font-size: rem(16px);
    color: #00063a;
    font-weight: bold;
}

.main-text {
    font-family: $main-font;
    font-size: rem(14px);
    color: #656689;
}