@use "../../styles/variables" as *;
@use "../../styles/functions" as *;

.header-container{
    width: 1440px;
    padding: 30px  140px;
    font-family: $main-font;
    font-size: rem(20px);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    position: fixed;
    z-index: 100;
    left: 50%; 
    margin-left: -720px;
    background-color: #FFFAF5;
    

    .heading{
        font-family: $secondary-font;
        font-size: rem(50px);
    }

    .heading:hover{
        cursor: pointer;
    }
    
    .navbar-container{
        display: flex;
        gap:rem(35px);
        color:#5E6085; 
    }
    .navbar-container :hover{
        color: #000958;
        cursor: pointer;

    }
    .navbar-container li{
        padding:10px 10px
    }

}
